body {
  max-width: 960px;
  margin: 0 auto;
  background-color: #004a69;
  color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

table, td, th {
  margin: 0 auto;
  border: 1px solid black;
  border-collapse: collapse;
}

td, th {
  text-align: center;
  padding: 10px;
  background-color: #bdd1dd;
  color: black;
}

main > section > a {
  color: red;
}

#noMedMessage {
  text-align: center;
}

fieldset1 {
width :50%;
float: left;
padding : 0;
padding-top:1cm;
margin : 0;
display : inline-block;
}
fieldset2 {
width :50%;
float: right;
padding : 0;
padding-top:3cm;
margin : 0;
display : inline-block;
}
